body {
  font-family: sans-serif;
  color: #333;
  background: #fafafa;
  max-width: 800px;
  margin: 20px auto;
  padding: 0 10px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}


ol {
  margin-left: 20px;
}
ul {
  margin: 5px 0 15px 40px;
}


li.first {
  font-weight: bold;
}
li.feature {
  display: inline-block;
  background: #ddd;
  color: #333;
  padding: 2px 6px;
  margin: 0 5px 5px 0;
  font-size: 0.9em;
}

p {
  margin: 10px 0;
}

figure.video-container {
  margin: 20px ;
  max-width: 640px;
}

/* iframe を幅100%・高さ315pxに */
figure.video-container iframe {
  width: 100%;
  height: 315px;
  border: none;
}

/* キャプション */
figcaption {
  text-align: center;
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
}
figcaption h3 {
  margin: 3px 0;
  font-size: 1em;
}
