.red{color:red}
body {
      margin: 0;
      padding: 0;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
    z-index: 1000; 
}

.spacer {
    height: 60px; 
}

.content {
    padding: 20px;
}

.centerti{
    text-align: center;
    margin-top: 50px;
    font-size: 40px;
    border: 2px solid #333;
    padding: 10px 20px; 
}

.ds{
    margin-left: 40px;
    margin-right: 40px;
}
h1 {
color: #0aa; 
border-bottom: solid 2px #0aa;
padding-bottom: 8px;
margin-top: 15px;
margin-bottom: 18px;
}
h2{
    color: #035e66;
    margin-top: 25px;
    margin-bottom: 8px;
    font-size: 1.3em;
    margin-left: 10px;
}

table{
    width: 96%;
    border-collapse: collapse;
    margin: 20px 0;
    margin-left: 24.7px;
}

th, td{
    font-size: 20px;       
    text-align: center;    
    padding: 20px 15px;     
    min-width: 180px;     
    border: 1px solid #333;
}

th{
    background-color: #f0f0f0;
}